packages/*
*/obj/*
*/bin/*
*/Bin/*
*.Cache
*.suo
*.user
*.trx
*.Publish.xml
*.orig
TestResults/*
*AgentRestart.dat
TransformTemp/*
TestOutput/*
_ReSharper*/**
*.resharper
partcover.driver.log
*.vdproj.vs10x
*.csproj.vs10x
*.docstates
